In [1]:
import pandas as pd
 
def main():
    pd.set_option('display.max_rows', 100)
    pd.set_option('display.max_columns', 100)
    pd.set_option('display.width', 1500)
 
    print('*** Creating Dataframe 1 ***')
    # List of Tuples
    empoyees = [ (11, 'jack', 34, 'Sydney', 5) ,
               (12, 'Riti', 31, 'Delhi' , 7) ,
               (13, 'Aadi', 16, 'New York', 11) ,
               (14, 'Mohit', 32,'Delhi' , 15) ,
               (15, 'Veena', 33, 'Delhi' , 4) ,
               (16, 'Shaunak', 35, 'Mumbai', 5 ),
                (17, 'Shaun', 35, 'Colombo', 11)
                ]
 
    # Create a DataFrame object
    empDfObj = pd.DataFrame(empoyees, columns=['ID', 'Name', 'Age', 'City', 'Experience'], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
    print("Dataframe 1 : ")
    print(empDfObj)
 
    print('*** Creating Dataframe 2 ***')
 
    # List of Tuples
    salaries = [(11, 'Junior', 70000, 1000) ,
               (12, 'Senior', 72200, 1100) ,
               (13, 'Expert', 84999, 1000) ,
               (14, 'Expert', 90000, 2000) ,
               (15, 'Junior', 61000, 1500) ,
               (16, 'Junior', 71000, 1000),
               (21, 'Senior',81000, 2000)
                ]
 
    # Create a DataFrame object
    salaryDfObj = pd.DataFrame(salaries, columns=['ID', 'Experience', 'Salary', 'Bonus'], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
    print("Dataframe 2 : ")
    print(salaryDfObj)
 
 
    print('**** Merge two Dataframes on a single Column ****')
 
    # Merge two Dataframes on single column 'ID'
    mergedDf = empDfObj.merge(salaryDfObj, on='ID')
    print('Contents of the Merged Dataframe :')
    print(mergedDf)
 
    print('**** Merge two Dataframes with custom suffix ****')
 
    # Merge two Dataframes on column 'ID' with custom suffix for non-key common columns
    mergedDf = empDfObj.merge(salaryDfObj, on='ID', suffixes=('_In_Years', '_Levels'))
    print('Contents of the Merged Dataframe :')
    print(mergedDf)
 
    # Rename column ID to EmpID
    salaryDfObj.rename(columns={'ID': 'EmpID'}, inplace=True)
    print("Contents of the Dataframe 2 : ")
    print(salaryDfObj)
 
    print('**** Merge two Dataframes on different columns ****')
 
    # Merge two Dataframes on different columns
    mergedDf = empDfObj.merge(salaryDfObj, left_on='ID', right_on='EmpID')
    print('Contents of the Merged Dataframe :')
    print(mergedDf)
 
if __name__ == '__main__':
  main()

*** Creating Dataframe 1 ***
Dataframe 1 :
   ID     Name  Age      City  Experience
a  11     jack   34    Sydney           5
b  12     Riti   31     Delhi           7
c  13     Aadi   16  New York          11
d  14    Mohit   32     Delhi          15
e  15    Veena   33     Delhi           4
f  16  Shaunak   35    Mumbai           5
g  17    Shaun   35   Colombo          11
*** Creating Dataframe 2 ***
Dataframe 2 :
   ID Experience  Salary  Bonus
a  11     Junior   70000   1000
b  12     Senior   72200   1100
c  13     Expert   84999   1000
d  14     Expert   90000   2000
e  15     Junior   61000   1500
f  16     Junior   71000   1000
g  21     Senior   81000   2000
**** Merge two Dataframes on a single Column ****
Contents of the Merged Dataframe :
   ID     Name  Age      City  Experience_x Experience_y  Salary  Bonus
0  11     jack   34    Sydney             5       Junior   70000   1000
1  12     Riti   31     Delhi             7       Senior   72200   1100
2  13     Aadi   16  New York            11       Expert   84999   1000
3  14    Mohit   32     Delhi            15       Expert   90000   2000
4  15    Veena   33     Delhi             4       Junior   61000   1500
5  16  Shaunak   35    Mumbai             5       Junior   71000   1000
**** Merge two Dataframes with custom suffix ****
Contents of the Merged Dataframe :
   ID     Name  Age      City  Experience_In_Years Experience_Levels  Salary  Bonus
0  11     jack   34    Sydney                    5            Junior   70000   1000
1  12     Riti   31     Delhi                    7            Senior   72200   1100
2  13     Aadi   16  New York                   11            Expert   84999   1000
3  14    Mohit   32     Delhi                   15            Expert   90000   2000
4  15    Veena   33     Delhi                    4            Junior   61000   1500
5  16  Shaunak   35    Mumbai                    5            Junior   71000   1000
Contents of the Dataframe 2 :
   EmpID Experience  Salary  Bonus
a     11     Junior   70000   1000
b     12     Senior   72200   1100
c     13     Expert   84999   1000
d     14     Expert   90000   2000
e     15     Junior   61000   1500
f     16     Junior   71000   1000
g     21     Senior   81000   2000
**** Merge two Dataframes on different columns ****
Contents of the Merged Dataframe :
   ID     Name  Age      City  Experience_x  EmpID Experience_y  Salary  Bonus
0  11     jack   34    Sydney             5     11       Junior   70000   1000
1  12     Riti   31     Delhi             7     12       Senior   72200   1100
2  13     Aadi   16  New York            11     13       Expert   84999   1000
3  14    Mohit   32     Delhi            15     14       Expert   90000   2000
4  15    Veena   33     Delhi             4     15       Junior   61000   1500
5  16  Shaunak   35    Mumbai             5     16       Junior   71000   1000

In [ ]:
# result = pd.merge(user_usage,
#                  user_device[['use_id', 'platform', 'device']],
#                  on='use_id')